<?xml version="1.0" encoding="UTF-8" ?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <!--自定义本地仓库路径-->
    <localRepository>/Users/chenlei/m2-public/repository</localRepository>
    
    <pluginGroups>

    </pluginGroups>

    <proxies>
    </proxies>


    <servers>
    </servers>

    <mirrors>
        <mirror>  
            <id>nexus-aliyun</id>  
            <mirrorOf>central</mirrorOf>  
            <name>Nexus aliyun</name>  
            <url>http://maven.aliyun.com/nexus/content/groups/public/</url>  
        </mirror>  
        <mirror>  
            <id>net-cn</id>  
            <mirrorOf>central</mirrorOf>  
            <name>Nexus net</name>  
            <url>http://maven.net.cn/content/groups/public/</url>  
        </mirror>  
    </mirrors>

    <profiles>
        <profile>
            <repositories>  
                <repository>  
                    <id>nexus</id>  
                    <name>local private nexus</name>  
                    <url>http://maven.aliyun.com/nexus/content/groups/public/</url>  
                    <releases>  
                        <enabled>true</enabled>  
                    </releases>  
                    <snapshots>  
                        <enabled>false</enabled>  
                    </snapshots>  
                </repository>  
            </repositories>  
            <pluginRepositories>  
                <pluginRepository>  
                    <id>nexus</id>  
                    <name>local private nexus</name>  
                    <url>http://maven.aliyun.com/nexus/content/groups/public/</url>  
                    <releases>  
                        <enabled>true</enabled>  
                    </releases>  
                    <snapshots>  
                        <enabled>false</enabled>  
                    </snapshots>  
                </pluginRepository>  
            </pluginRepositories>  
        </profile>
    </profiles>

    <activeProfiles>  
        <activeProfile>nexus</activeProfile>  
    </activeProfiles> 
    
</settings>
